.App {
}

.chantelle-splash-container {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.chantelle-splash {
  max-height: 100%;
  max-width: 100%;
}

.welcome-message {
  display: flex;
  justify-content: center;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.landing-page {
  animation: fadeOut 3s linear forwards;
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  opacity: 0;
  animation: fadeIn 3s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
