.App {
  display: flex;
  text-align: center;
}

.landing-page {
  /* Landing page styles */
  display: flex;
  opacity: 1;
  transition: opacity 1s;
}

.main-content {
  display: flex;
  opacity: 0;
  transition: opacity 1s;
}

.Chantelle-Splash-Container {
  display: flex;
  height: 80vh;
}

.Chantelle-Splash {
  max-height: 100%;
  max-width: 100%;
}

.landing-page.fade-out {
  opacity: 0;
}

.main-content.fade-in {
  opacity: 1;
}
